<!-- fragments/navbar.html -->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <nav th:fragment="navbar" class="navbar">
      <a th:href="@{/routes}" th:classappend="${active}=='routes' ? ' active'"
        >Routes</a
      >
      <a
        th:href="@{/routes/new}"
        th:classappend="${active}=='create' ? ' active'"
        >Create</a
      >
      <a th:href="@{/special}" th:classappend="${active}=='special' ? ' active'"
        >Special</a
      >
    </nav>
  </body>
</html>
