<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <title th:text="${formTitle}">Route Form</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
  </head>
  <body>
    <header
      th:with="active='create'"
      th:insert="~{fragments/navbar :: navbar}"
    ></header>

    <section id="content">
      <h1 th:text="${formTitle}">Route Form</h1>

      <form th:action="${action}" th:object="${route}" method="post" novalidate>
        <div class="validation-errors" th:if="${#fields.hasErrors('*')}">
          <ul>
            <li th:each="e : ${#fields.detailedErrors('*')}">
              <strong th:text="${e.fieldName}">field</strong>:
              <span th:text="${e.message}">message</span>
            </li>
          </ul>
        </div>

        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" th:field="*{name}" required />
        </div>
        <div class="form-group">
          <label for="coordinates.x">Coord X:</label>
          <input
            type="number"
            step="0.1"
            th:field="*{coordinates.x}"
            required
          />
        </div>
        <div class="form-group">
          <label for="coordinates.y">Coord Y:</label>
          <input
            type="number"
            step="0.1"
            th:field="*{coordinates.y}"
            required
          />
        </div>
        <div class="form-group">
          <label for="from">From location:</label>
          <select th:field="*{from}">
            <option
              th:each="loc : ${locations}"
              th:value="${loc.id}"
              th:text="${loc.name}"
            ></option>
          </select>
        </div>
        <div class="form-group">
          <label for="to">To location:</label>
          <select th:field="*{to}" required>
            <option
              th:each="loc : ${locations}"
              th:value="${loc.id}"
              th:text="${loc.name}"
            ></option>
          </select>
        </div>
        <div class="form-group">
          <label for="distance">Distance:</label>
          <input type="number" min="2" th:field="*{distance}" required />
        </div>
        <div class="form-group">
          <label for="rating">Rating:</label>
          <input
            type="number"
            step="0.1"
            min="0.1"
            th:field="*{rating}"
            required
          />
        </div>

        <div class="form-actions">
          <button type="submit">Save</button>
          <a class="button btn-secondary" th:href="@{/routes}">Cancel</a>
        </div>
      </form>
    </section>
  </body>
</html>
